@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

#banner14{
    background-image: url('../../assets/imagen-batman-comentários.jpg');
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 60vw;
}

h2{
   display: flex;
   justify-content: center;
   color: white;
}

textarea{
    background-color:rgb(250, 250, 250);
    color:black;
    position: relative;
    left: 25%;
    width: 50%;
    height: 100px;
    
    
    
    
}

.enviar2{
    
    width: 10%;
    height: 25px;
    position: relative;
    top: 110px;
    right: 5%;
    background-color: blue;
 }
